<!doctype html>
{% load static %}
<html lang="en" class="overflow-hidden">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My Django App{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script>
            tailwind.config = {
                darkMode: "class",
            };
        </script>
    </head>
    <body
        class="max-w-screen flex max-h-screen min-h-screen overflow-hidden bg-zinc-100 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-300"
    >
        <aside
            class="flex h-screen max-h-screen w-60 min-w-60 max-w-60 flex-col border border-red-700 bg-zinc-900"
        >
            <header
                class="max-w-screen relative max-h-screen border border-blue-700 px-6 py-2"
            >
                <nav class="">
                    <ul class="flex items-center justify-start">
                        <li>
                            <a href="/" class="text-lg"
                                ><h1>Items Crudified</h1></a
                            >
                        </li>
                    </ul>
                </nav>
            </header>
            <div class="h-full border border-green-700 p-4">
                <div class="border border-yellow-700">
                    <h6>Tables List</h6>
                    <ul>
                        {% for table in tables %}
                        <li>
                            <a
                                href="?table_id={{ table.id }}"
                                class="{% if table.id == selected_table.id %}active{% endif %}"
                            >
                                {{ table.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'table_create' %}">+ Create Table</a>
                </div>
            </div>
        </aside>
        <main class="flex max-h-screen w-full flex-col overflow-hidden">
            <header class="max-w-screen relative px-6 py-2">
                <nav class="">
                    <ul class="flex items-center justify-start">
                        <li>
                            <a href="/" class="text-lg"
                                ><h1>Items Crudified</h1></a
                            >
                        </li>
                    </ul>
                </nav>
            </header>
            <section class="relative flex-grow overflow-auto">
                {% block content %}{% endblock %}
            </section>
            <footer
                class="relative w-full bg-zinc-100 p-4 text-center text-zinc-950 dark:bg-zinc-950 dark:text-zinc-300"
            >
                © 2025 Nekolaiv.Dev - All Rights Reserved
            </footer>
        </main>
    </body>
</html>
