<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}My Django App{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script>
			tailwind.config = {
				darkMode: "class",
			};
		</script>
	</head>
	<body
		class="min-h-screen max-w-screen flex flex-col bg-zinc-100 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-300"
	>
		<header class="p-4 relative min-w-screen">
			<nav class="">
				<ul class="flex justify-center items-center">
					<li>
						<a href="/" class="text-lg"><h1>Items Crudified</h1></a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="flex-grow-1 p-6">
			{% block content %}{% endblock %}
		</main>

		<footer
			class="text-center p-4 bg-zinc-100 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-300 
		>
			© 2025 Nekolaiv.Dev - All Rights Reserved
		</footer>
	</body>
</html>
