<!DOCTYPE html>
{% load static %}
<html lang="en" class="overflow-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}My Django App{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
		<script>
			tailwind.config = {
				darkMode: "class",
			};
		</script>
	</head>
	<body
		class="min-h-screen max-h-screen overflow-hidden max-w-screen flex bg-zinc-100 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-300"
	>
		<aside
			class="min-w-60 h-screen max-w-60 max-h-screen flex flex-col w-60 bg-zinc-900"
		>
			<header class="px-6 py-2 relative max-w-screen max-h-screen">
				<nav class="">
					<ul class="flex justify-start items-center">
						<li>
							<a href="/" class="text-lg"
								><h1>Items Crudified</h1></a
							>
						</li>
					</ul>
				</nav>
			</header>
			<div class="h-full p-4">
				<div class="">
					<h6>Tables List</h6>
					<ul>
						{% for table in tables %}
						<!-- <li><a href="{% url 'table' table.id %}">{{ table.name }}</a></li> -->
						<li>
							<a href="{% url 'table' table.id %}"
								><button
									class="w-20 p-px cursor-pointer border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
								>
									{{table.name}}
								</button></a
							>
						</li>
						{% endfor %}
					</ul>
					<!-- <a href="">+ Create Table</a> -->
				</div>
			</div>
		</aside>
		<main class="flex flex-col max-h-screen w-full overflow-hidden">
			<header class="relative px-6 py-2 max-w-screen">
				<nav class="">
					<ul class="flex justify-start items-center">
						<li>
							<a href="/" class="text-lg"
								><h1>Items Crudified</h1></a
							>
						</li>
					</ul>
				</nav>
			</header>
			<section class="relative flex-grow overflow-auto">
				{% block content %}{% endblock %}
			</section>
			<footer
				class="text-center relative w-full p-4 bg-zinc-100 dark:bg-zinc-950 text-zinc-950 dark:text-zinc-300"
			>
				© 2025 Nekolaiv.Dev - All Rights Reserved
			</footer>
		</main>
	</body>
</html>
