<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<body>
    <div class="edit-form">
        <form action="{% url 'edit_gadget_form' gadgets.id %}" method="post">
            {% csrf_token %}
            <h1>Update Gadget</h1>
            <label for="id">ID</label><br><br>
            <input type="text" name="id" value="{{gadgets.id}}"><br><br>
            <label for="name">Name</label><br><br>
            <input type="text" name="name" value="{{gadgets.name}}"><br><br>
            <label for="price">Price</label><br><br>
            <input type="text" name="price" value="{{gadgets.price}}"><br><br>
            <button type="submit">Update</button>
        </form>

    </div>
</body>

</html>