{% extends 'base.html' %} {% block content %} {% load static %}
<div class="flex max-h-full flex-col px-6">
    <h2>FOOD MENU</h2>
    <input
        type="text"
        id="search"
        placeholder="Search..."
        class="mb-4 w-full rounded-lg border border-zinc-800 bg-zinc-900 p-2 text-white"
    />

    <div class="rounded-lg border border-zinc-800 shadow">
        <table class="w-full border-collapse">
            <thead class="text-zinc-400">
                <tr>
                    <th
                        class="w-24 rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                    >
                        ID
                    </th>
                    <th
                        class="flex-1 rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                    >
                        Name
                    </th>
                    <th
                        class="w-56 rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                    >
                        Price
                    </th>
                    <th
                        class="w-12 rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                        colspan="2"
                    >
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody id="foods-table">
                {% for f in foods %}
                <tr class="border-t text-center dark:border-zinc-800">
                    <td
                        class="rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                    >
                        {{ f.id }}
                    </td>
                    <td
                        class="rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                    >
                        {{ f.name }}
                    </td>
                    <td
                        class="rounded-lg py-3 transition duration-300 hover:bg-zinc-900"
                    >
                        {{ f.price }}
                    </td>
                    <td class="w-28 py-3">
                        <a href="food/edit/{{ f.id }}">
                            <button
                                class="w-20 cursor-pointer rounded-lg border border-zinc-800 p-px transition duration-300 hover:bg-zinc-900"
                            >
                                edit
                            </button>
                        </a>
                    </td>
                    <td class="w-28 py-3">
                        <a href="food/delete/{{ f.id }}">
                            <button
                                class="w-20 cursor-pointer rounded-lg border border-zinc-800 p-px transition duration-300 hover:bg-zinc-900"
                            >
                                delete
                            </button>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr id="no-results">
                    <td colspan="5" class="py-3 text-center text-zinc-400">
                        No results found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="food/add/" class="mt-2 w-fit"
        ><button
            class="w-40 cursor-pointer rounded-lg border border-zinc-800 p-2 text-center transition duration-300 hover:bg-zinc-900"
        >
            Add Food
        </button></a
    >
</div>
<script>
    const searchUrl = "{% url 'home' %}";
</script>
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock %}
