{% extends 'base.html' %} {% block content %}
<section class="flex flex-col">
	<h2>FOOD MENU</h2>
	<div class="rounded-lg shadow border border-zinc-800">
		<table class="w-full border-collapse">
			<thead class="text-zinc-400">
				<th class="py-3 w-24 transition duration-300 hover:bg-zinc-900">
					ID
				</th>
				<th
					class="py-3 flex-1 transition duration-300 hover:bg-zinc-900"
				>
					Name
				</th>
				<th class="py-3 w-56 transition duration-300 hover:bg-zinc-900">
					Price
				</th>
				<th
					class="py-3 w-12 transition duration-300 hover:bg-zinc-900"
					colspan="2"
				>
					Actions
				</th>
			</thead>
			{% for f in foods %}
			<tr class="text-center border-t border-zinc-800">
				<td class="py-3 transition duration-300 hover:bg-zinc-900">
					{{f.id}}
				</td>
				<td class="py-3 transition duration-300 hover:bg-zinc-900">
					{{f.name}}
				</td>
				<td class="py-3 transition duration-300 hover:bg-zinc-900">
					{{f.price}}
				</td>
				<td class="py-3 w-28">
					<a href="food/edit/{{f.id}}"
						><button
							class="w-20 p-px cursor-pointer border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
						>
							edit
						</button></a
					>
				</td>
				<td class="py-3 w-28">
					<a href="food/delete/{{f.id}}"
						><button
							class="w-20 p-px cursor-pointer text-center border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
						>
							delete
						</button></a
					>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<a href="food/add/" class="w-fit mt-2"
		><button
			class="w-40 p-2 text-center cursor-pointer border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
		>
			Add Food
		</button></a
	>
	<br /><br />
	<h2>GADGET MENU</h2>
	<div class="rounded-lg shadow border border-zinc-800">
		<table class="w-full border-collapse">
			<thead class="text-zinc-400">
				<th class="py-3 w-24 transition duration-300 hover:bg-zinc-900">
					ID
				</th>
				<th
					class="py-3 flex-1 transition duration-300 hover:bg-zinc-900"
				>
					Name
				</th>
				<th class="py-3 w-56 transition duration-300 hover:bg-zinc-900">
					Price
				</th>
				<th
					class="py-3 w-12 transition duration-300 hover:bg-zinc-900"
					colspan="2"
				>
					Actions
				</th>
			</thead>
			{% for g in gadgets %}
			<tr class="text-center border-t border-zinc-800">
				<td class="py-3 transition duration-300 hover:bg-zinc-900">
					{{g.id}}
				</td>
				<td class="py-3 transition duration-300 hover:bg-zinc-900">
					{{g.name}}
				</td>
				<td class="py-3 transition duration-300 hover:bg-zinc-900">
					{{g.price}}
				</td>
				<td class="py-3 w-28">
					<a href="gadget/edit/{{f.id}}"
						><button
							class="w-20 p-px cursor-pointer border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
						>
							edit
						</button></a
					>
				</td>
				<td class="py-3 w-28">
					<a href="gadget/delete/{{f.id}}"
						><button
							class="w-20 p-px cursor-pointer text-center border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
						>
							delete
						</button></a
					>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<a href="gadget/add/" class="w-fit mt-2"
		><button
			class="w-40 p-2 text-center cursor-pointer border border-zinc-800 rounded-lg transition duration-300 hover:bg-zinc-900"
		>
			Add Gadget
		</button></a
	>
</section>

{% endblock %}
