<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body class="container">
    <h1>Food Menu</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th colspan="2">Actions</th>
        </thead>
        {% for f in foods %}
        <tr>
            <td>{{f.id}}</td>
            <td>{{f.name}}</td>
            <td>{{f.price}}</td>
            <td>
                <a href="edit-food/{{f.id}}">edit</a>
            </td>
            <td>
                <a href="delete-food/{{f.id}}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{% url 'add_food' %}"><button>Add Food</button></a>
    <h1>Gadget Menu</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th colspan="2">Actions</th>
        </thead>
        {% for g in gadgets %}
        <tr>
            <td>{{g.id}}</td>
            <td>{{g.name}}</td>
            <td>{{g.price}}</td>
            <td>
                <a href="edit-gadget/{{g.id}}">edit</a>
            </td>
            <td>
                <a href="delete-gadget/{{g.id}}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{% url 'add_gadget' %}"><button>Add Gadget</button></a>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>